<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>users</key>
	<array>
		<dict>
			<key>email</key>
			<string>jackrambo@gmail.com</string>
            <key>name</key>
            <string>jack</string>
			<key>password</key>
			<string>12345</string>
		</dict>
		<dict>
            <key>name</key>
            <string>rambo</string>
			<key>email</key>
			<string>rambo@gmail.com</string>
			<key>password</key>
			<string>12345</string>
		</dict>
        <dict><key>name</key>
            <string>sparrow</string>
			<key>email</key>
			<string>jacksparrow@gmail.com</string>
			<key>password</key>
			<string>12345</string>
		</dict>
        <dict><key>name</key>
            <string>lion</string>
			<key>email</key>
			<string>lionking@gmail.com</string>
			<key>password</key>
			<string>12345</string>
		</dict>
        <dict><key>name</key>
            <string>king</string>
			<key>email</key>
			<string>kinglion@gmail.com</string>
			<key>password</key>
			<string>12345</string>
		</dict>
	</array>
</dict>
</plist>
