<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

    <dict>
        <key>users</key>
        <array>
            <dict>
                <key>email</key>
                <string>jacksparrow</string>
                <key>password</key>
                <string>12345</string>
            </dict>
            <dict>
                <key>email</key>
                <string>rsparrowfly</string>
                <key>password</key>
                <string>12345</string>
            </dict>
            <dict>
                <key>email</key>
                <string>jackiesherrof</string>
                <key>password</key>
                <string>12345</string>
            </dict>
            <dict>
                <key>email</key>
                <string>leonking</string>
                <key>password</key>
                <string>12345</string>
            </dict>
            <dict>
                <key>email</key>
                <string>lionking</string>
                <key>password</key>
                <string>12345</string>
            </dict>
        </array>
    </dict>
</plist>

